.comfort-list {
    display: flex;
    flex-direction: row;
    padding: 35px 41px;
    align-items: center;
}

.comfort-list-back {
    height: 40px;
    width: 40px;
    margin-right: 40px;
}

.comfort-list h2 {
    font-size: 20px;
}

.comfort-list p {
    font-size: 14px;
}

.cities {
    margin: 0 0 20px 17%;
    display: flex;
    flex-direction: row;
}

.city-item {
    background: linear-gradient(0deg, #9E8576 -0.18%, #A28A7A 13.55%, #A68E7D 27.28%, #BCA992 73.38%, #CBBBA0 97.89%);
    border-radius: 50px;
    padding: 7px 40px;
    margin-right: 10px;
    color: #fff;
}

.city-item:last-child {
    background: #fff;
    color: #252525;
}

.tour-body {
    margin: 0 40px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title img {
    margin-left: 15px;
}

.tour-reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.tour-reviews p {
    color: #BABABA;
    margin-left: 10px;
}

.tour-location {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    padding-bottom: 18px;
    border-bottom: 1px solid #DCDCDC;
}

.tour-location img {
    margin-right: 10px;
}

.tour-dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #DCDCDC;
}

.tour-dates-info {
    font-size: 14px;
}

.tour-dates button {
    background: linear-gradient(0deg, #9E8576 -0.18%, #A28A7A 13.55%, #A68E7D 27.28%, #BCA992 73.38%, #CBBBA0 97.89%);
    height: 54px;
    width: 120px;
    border: none;
    border-radius: 11px;
    color: white;
    font-size: 17px;
}

.tour-dates button p span {
    font-size: 17px;
    font-weight: 600;
}

.tour-dates button p {
    font-size: 13px;
    font-weight: 400;
}

.tour-data {
    margin-top: 13px;
}

.tour-data h2 {
    font-size: 18px;
    font-weight: 500;
}

.tour-data p {
    font-size: 14px;
}

.tour-data-more {
    display: flex;
    flex-direction: row-reverse;
    font-size: 14px;
    color: #BEAB94;
    margin-bottom: 60px;
}

